name: Deploy Docs
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: npm i && npm run build
      - name: Add CNAME
        run: echo "edoc.cusky.tk" > src/.vuepress/dist/CNAME
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          ACCESS_TOKEN: ${{ github.token  }}
          BRANCH: gh-pages
          FOLDER: src/.vuepress/dist